@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-4xl font-semibold
    }
    h2 {
        @apply text-2xl font-semibold
    }
    h3 {
        @apply text-base font-semibold
    }
    h4 {
        @apply text-sm font-semibold 
    }
    h5 {
        @apply text-xs font-semibold
    }
    h6 {
        @apply text-[10px] font-semibold
    }
    ol {
        @apply list-decimal pl-5
    }
    ul {
        @apply list-disc pl-5
    }
}

@layer utilities {
    .editorBtn {
        @apply px-2 py-0.5 text-sm font-semibold rounded-sm
    }
}

.tiptap {
    outline: none;
    min-height: 300px;
}
.tiptap a {
    color: #2980b9;
    text-decoration: underline;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

.textEditorHeader span {
    cursor: pointer;
}